@charset "UTF-8";

*{
    margin :0; padding: 0; box-sizing: border-box;
}

nav{
    height: 90px;
    color: white;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
}

a.btn-a:hover{
    color: #BA68C8;
}

.neo-section{
    min-height: 810px;
    background-size: cover !important;
    background-repeat: no-repeat;
    width: 100%;
    padding: 30px;
    position: relative;
}

.wm{
    width: 50%;
    float: left;
    font-weight: bolder;
}

.clear{
    clear: both;
}

.neo-container{
    max-width: 1280px;
    padding: 2% 2%;
    margin: 0 auto;
    margin-top: 200px;
}

.center{
    text-align: center;
    
}

.sombra{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.7);
    z-index: 100;
}

.neo-section > .neo-container {
    position: relative;
    z-index: 105;
}

.texto-centro{
    color: white;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.btnn{
    width: 280px;
    color: #fff;
    border-radius: 10px;
    border: 3px solid #a55eea;
    padding: 20px;
    font-weight: bolder;
    font-size: 1.2em;

}

.botoes{
    padding: 2% 17%;
}

.btn:hover{
    color: #CE93D8;
    background-color: rgba(0,0,0,0.5);
}

.rodape{
    color: white;
    background-color: #4527A0;
    padding: 0px;
    text-align: center;
    font-size: 1em;
    
}

.wm a{
    text-decoration: none;
    padding: 15px 30px;
}


/*Responsividade*/
@media screen and (max-width: 667px) {
    .wm{
        width: 100%;
    }

    nav{
        height: 100%;
    } 

    .neo-container{
        margin-top: 20px;
    }
}

